[run]
source = notifications
omit = .tox/*,./venv/*,*tests*,*apps.py,*manage.py,*__init__.py,*migrations*,*asgi*,*wsgi*,*admin.py,*urls.py,setup.py

[report]
omit = .tox/*,./venv/*,*tests*,*apps.py,*manage.py,*__init__.py,*migrations*,*asgi*,*wsgi*,*admin.py,*urls.py,setup.py
skip_covered = True
exclude_lines = pass
