[run]
source = notifications
omit = .tox/*,*/site-packages/*,*/distutils/*,./venv/*,*tests*,*apps.py,*manage.py,*__init__.py,*migrations*,*asgi*,*wsgi*,*admin.py,*urls.py,setup.py

[report]
omit = .tox/*,*/site-packages/*,*/distutils/*,./venv/*,*tests*,*apps.py,*manage.py,*__init__.py,*migrations*,*asgi*,*wsgi*,*admin.py,*urls.py,setup.py
skip_covered = True
exclude_lines =
    pass
    pragma: no cover
    def __repr__
    if self.debug:
    raise AssertionError
    raise NotImplementedError
    class ListField
